@import url('https://fonts.googleapis.com/css?family=Ubuntu|Dosis');

/*GLOBAL*/

html{
    font-family: 'Dosis', sans-serif;
}

h2,h3{
    font-family: 'Dosis', sans-serif;
}


.contl{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.logf input{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #8DDD31;
}

.logf button{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #DEDEDE;
}

.logf button:hover{
    background-color: #F4F4F4
}

.contl img{
    width: 100%;
}

/*HEADER COMMON*/

.headbar{
    height: 100px;
    border-bottom: 2px solid #888;
}

.himg{
    height: 80px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
}

.htitle{
    display: inline-block;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.headbar p{
    visibility: hidden;
}

/*MENU PAGE*/

.mitem{
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.mitem form{
    border: 2px solid #ccc;
}

.mitem label{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

.mitem input{
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.mitem button{
    height: 40px;
    width: 75%;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #DEDEDE;
    font-size: 20px;
}

.mitem button:hover{
    background-color: #F4F4F4
}

h2{
    padding: 20px;
    padding-top: 150px;
}

/*TODAY DISPLAY*/


.tdytab{
    font-family: 'Dosis', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tdytab td, .tdytab th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 7px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

/*UPDATE STOCK*/

.upitem{
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.upitem input{
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.upitem button{
    height: 40px;
    width: 30%;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #DEDEDE;
    font-size: 20px;
}

.upitem button:hover{
    background-color: #F4F4F4
}

/*BILLING*/

.billdisp{
    padding: 50px;
}

.print, .sub{
    height: 40px;
    width: auto;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #DEDEDE;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}



.print:hover{
    background-color: #F4F4F4;
}

.sub:hover{
    background-color: #F4F4F4;
}

.cen{
    text-align: center;
}

.additem form{
    display: inline-block;
}

.additem input{
    margin: 10px;
    padding: 5px;
    height: 40px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.loltabdisp{
    padding: 50px;
    padding-top: 200px;
}
